body {
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s;
}
.result-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
img {
    width: 200px;
    height: auto;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
th {
    background-color: #eee;
}