header {
    background-color:black;
    color:black;
    padding:5px;
	height:70px;
}
#city-small {
    margin-top: 20px;
    align-items: center;
    }

form {
    background-color: #dadada;
    padding: 20px;
}
#logo-small {
    transition: 0.3s;
    height: 70px;
    width: 70px;
}

#small-p {
    font-size: 13px;
    margin-left: 25px;
    margin-bottom: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo-small:hover {
    transition: 0.3s;
    height: 75px;
    width: 75px;
}

#white {
    color: white;
}

nav {
    font-family: cursive;
    line-height:30px;
    background-color:#eeeeee;
    height: 500px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    font-family: cursive;
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:15px; 
}
#outline {
    font-family: serif;
    color: cadetblue;
}
#back {
    color: firebrick;
    
}
#next {
    color: darkturquoise;

}
a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: cadetblue;
    text-decoration: underline;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  
  a:active {
    color: cadetblue;
    text-decoration: underline;
    margin-bottom: 20px;
    transition: 0.3s;
  }