header {
    background-color: #4E885C;
    text-align: center;
    color: orange;
}

#zdjecie_header {
    height: 100px;
}

#lewy {
    background-color: #72A37D;
    width: 30%;
    height: 300px;
    float: left;
}

#srodkowy {
    background-color: #A2C3A9;
    background-image: url(logo.png);
    height: 300px;
}

#prawy {
    background-color: #72A37D;
    text-align: center;
    width: 30%;
    height: 300px;
    float: right;
}

#dolny {
    background-color: #A2C3A9;
    text-align: center;
    height: 100%;
}

#odsylacz {
background-color: orange;
color: green;
padding: 15px;
}

footer {
    background-color: #4E885C;
    
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}