.header {
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
}

.header h1 {
    color: #333;
}

.main {
    padding: 20px;
}

.main h2 {
    color: #56ab2f;
}

.main p {
    font-size: 16px;
}

.button {
    background-color: #56ab2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #3e8e41;
}
